In [ ]:
# First python program on 12-05-2025 at 20:29 IST hrs by ANSRise

print("Welcome to ANSRise")
print('Welcome to python')

Welcome to ANSRise
Welcome to python

In [ ]:
age=39
print(age)
print('my age is ',age)
print('my age is',age,'years')

39
my age is  39
my age is 39 years

Formatted string literals - f- string

fisrt in python 3.6 - DEC 23,2016 by Python Developer Eric. V Smith

In [ ]:
age=39
print(f'my age is {age} years')

my age is 39 years

In [ ]:
name1='ashish'
name2='Eshwar'
print(f'my name is {name1} and my friend name is {name2}')

my name is ashish and my friend name is Eshwar

In [ ]:
name1='ashish'
name2='Eshwar'
message=f'my name is {name1} and my friend name is {name2}'
print(message)

my name is ashish and my friend name is Eshwar

**Day-2: 03-05-2025**

In [ ]:
#Data types on 03-05-2025 at 19:29 hrs IST by ANSRise
age=25
print(f'age={age}')
print(type(age))     # To know the data type of the object 'age' using method 'type()'

age=25
<class 'int'>

In [ ]:
product_sold=200
price=50
total_price=product_sold*price
print(f'revenue=Rs.{total_price}.00')

revenue=Rs.10000.00

In [ ]:
product_sold=200
price=50
total_price=product_sold*price
print(f'revenue=Rs.{total_price:,.2f}')

revenue=Rs.10,000.00

In [ ]:
temperature=98.6
print(f'temperature={temperature:.2f}')
print(type(temperature))

temperature=98.60
<class 'float'>

In [ ]:
impedance=3+4j
print(f'impedance={impedance}')
print(type(impedance))

impedance=(3+4j)
<class 'complex'>

In [ ]:
name='ANSRise'
message=f'welcome to {name}'
print(message)
print(type(name))

welcome to ANSRise
<class 'str'>

In [ ]:
coordinates=(10.0,98.0)
print(f'coordinates={coordinates}')
print(type(coordinates))

coordinates=(10.0, 98.0)
<class 'tuple'>

In [ ]:
data=(10,98.5,'ashish',3+4j)
print(f'data={data}')
print(type(data))

data=(10, 98.5, 'ashish', (3+4j))
<class 'tuple'>

In [ ]:
#various basic operation on the tuple

data=(10,98.5,'ashish',3+4j,10,25,36,'kiran','swamy',25.9)

#1.Length of Tuple
print(f'length of data={len(data)}')   #method called " len()"

# 2.to print specific element of the tuple use INDEXING
# to print "98.5" and which index is 1
print(f'data[1]={data[1]}')

#To print "3+4j" and which index is 3
print(f'answer={data[3]}')

#3.SLICING= dividing the tuple as per the requirements using indexing

print(f'data tuple slice from index 3 to 7={data[3:8]}')
print(f'data tuple slice from index 5 to 9={data[5:10]}')
print(f'data tuple slice from index 0 to 9={data[0:10]}')
print(f'data tuple slice from index 0 to end ={data[0:]}')  #when don't know about end point
print(f'data tuple slice from index start to end={data[:]}')  #when don't know about start and end point
print(f'data tuple slice from 0 to end but step 2={data[0::2]}') #landing from index 0 to 0+2=3 and so on
print(f'data tuple slice from 0 to end but step 3={data[0::3]}') #landing from index 0 to 0+3=3 and so on

print(f'print last element with forward indexing {data[9]}')
print(f'print last element with backward indexing {data[-1]}')

print(f'data tuple slice with backward indexing {data[-5:-2]}')

length of data=10
data[1]=98.5
answer=(3+4j)
data tuple slice from index 3 to 7=((3+4j), 10, 25, 36, 'kiran')
data tuple slice from index 5 to 9=(25, 36, 'kiran', 'swamy', 25.9)
data tuple slice from index 0 to 9=(10, 98.5, 'ashish', (3+4j), 10, 25, 36, 'kiran', 'swamy', 25.9)
data tuple slice from index 0 to end =(10, 98.5, 'ashish', (3+4j), 10, 25, 36, 'kiran', 'swamy', 25.9)
data tuple slice from index start to end=(10, 98.5, 'ashish', (3+4j), 10, 25, 36, 'kiran', 'swamy', 25.9)
data tuple slice from 0 to end but step 2=(10, 'ashish', 10, 36, 'swamy')
data tuple slice from 0 to end but step 3=(10, (3+4j), 36, 25.9)
print last element with forward indexing 25.9
print last element with backward indexing 25.9
data tuple slice with backward indexing (25, 36, 'kiran')
data tuple in reverse ()

In [ ]:
data=(10,98.5,'ashish',3+4j,10,25,36,'kiran','swamy',25.9)

print(data[::-1])  #reverse order

print(data[4:8])

print(data[7:3:-1])

print(data[-5:-1])

(25.9, 'swamy', 'kiran', 36, 25, 10, (3+4j), 'ashish', 98.5, 10)
(10, 25, 36, 'kiran')
('kiran', 36, 25, 10)
(25, 36, 'kiran', 'swamy')

**Day-3: 14-05-2025**

In [ ]:
shopping_list=['apple','sugar','10',25.8,'3+4j']

print(f'shopping_list={shopping_list}')
print(type(shopping_list))

shopping_list=['apple', 'sugar', '10', 25.8, '3+4j']
<class 'list'>

In [ ]:
data=[10,20,30,40,'ramana',65.4,'keerthi',78,88.4]

#list operations
#1.Indexing
print(f'data[3]={data[3]}')
print(f'data[-3]={data[-3]}')

#2.Slicing
print(f'data[3:6]={data[3:6]}')
print(f'data[3:]= {data[3:]}')
print(f'data[:6]={data[:6]}')
print(f'data[::2]={data[::2]}')
print(f'data[::-1]={data[::-1]}')

data[3]=40
data[-3]=keerthi
data[3:6]=[40, 'ramana', 65.4]
data[3:]= [40, 'ramana', 65.4, 'keerthi', 78, 88.4]
data[:6]=[10, 20, 30, 40, 'ramana', 65.4]
data[::2]=[10, 30, 'ramana', 'keerthi', 88.4]
data[::-1]=[88.4, 78, 'keerthi', 65.4, 'ramana', 40, 30, 20, 10]

In [ ]:
#Dictionary

student={"name":"rama","rollno":1011,"marks":95}
print(f'student={student}')
print(type(student))

#print with with key

print(f'name of student ={student["name"]}')
print(f'rollno of student ={student["rollno"]}')
print(f'marks of student ={student["marks"]}')

student={'name': 'rama', 'rollno': 1011, 'marks': 95}
<class 'dict'>
name of student =rama
rollno of student =1011
marks of student =95

In [ ]:
#use case on DICTIONARY,LIST ,TUPLE

fruit_shop={"fruit_names":['mango','banana','apples'],
            "fruit_price":[100,200,300],
            "fruit_quantity":[10,20,30],
            "fruit_color":('red','yellow','green'),
            "fruit_taste":('sweet','sour','bitter'),
            "customer_names":["akash","kiran","rahul","veena"],
            "orders":[10,20,30,40]
            }

print(f'fruit_shop={fruit_shop}')
print(type(fruit_shop))

print(f'fruit_names={fruit_shop["fruit_names"]}')
print(f'fruit at index 0 is {fruit_shop["fruit_names"][0]}')
print(f'fruit at index 1 is {fruit_shop["fruit_names"][1]}')
print(f'fruit at index 2 is {fruit_shop["fruit_names"][2]}')

print(f'fruit at index 0 to 1 is {fruit_shop["fruit_names"][0:2]}')

print(f'fruit_price={fruit_shop["fruit_price"]}')
print(f'fruit_quantity={fruit_shop["fruit_quantity"]}')
print(f'fruit_color={fruit_shop["fruit_color"]}')
print(f'fruit_taste={fruit_shop["fruit_taste"]}')

print(f'customer_names={fruit_shop["customer_names"]}')
print(f'orders={fruit_shop["orders"]}')

fruit_shop={'fruit_names': ['mango', 'banana', 'apples'], 'fruit_price': [100, 200, 300], 'fruit_quantity': [10, 20, 30], 'fruit_color': ('red', 'yellow', 'green'), 'fruit_taste': ('sweet', 'sour', 'bitter'), 'customer_names': ['akash', 'kiran', 'rahul', 'veena'], 'orders': [10, 20, 30, 40]}
<class 'dict'>
fruit_names=['mango', 'banana', 'apples']
fruit at index 0 is mango
fruit at index 1 is banana
fruit at index 2 is apples
fruit at index 0 to 1 is ['mango', 'banana']
fruit_price=[100, 200, 300]
fruit_quantity=[10, 20, 30]
fruit_color=('red', 'yellow', 'green')
fruit_taste=('sweet', 'sour', 'bitter')
customer_names=['akash', 'kiran', 'rahul', 'veena']
orders=[10, 20, 30, 40]

**DAY-4: 15-05-2025**

In [ ]:
walmart={

         "store":[1,1,1],
         "date":['05-02-2010','12-02-2010','19-02-2010'],
         "weekly_sales":(1643690.9,1641957.44,1611968.17),
         'holiday_flag':(0,1,0),
         'temperature':[42.31,38.51,39.93],
         'fuel_price':[2.572,2.548,2.514],
         'cpi':[211.09,211.24,244.28],
         'unemployment':[8.1,8.1,8.1]

}

print(walmart)

#Manager want the total of the weekly sales
total_weekly_sales=walmart['weekly_sales'][0]+walmart['weekly_sales'][1]+walmart['weekly_sales'][2]
print(f'total weekly sales = {total_weekly_sales}')

#Manager want the average of the weekly sales
average_weekly_sales=total_weekly_sales/3
print(f'average weekly sales = {average_weekly_sales}')

#Manager want know what is the minimum weekly sales
minimum_weekly_sales=min(walmart['weekly_sales'])
print(f'minimum weekly sales = {minimum_weekly_sales}')

#Manager want know what is the maximum weekly sales
maximum_weekly_sales=max(walmart['weekly_sales'])
print(f'maximum weekly sales = {maximum_weekly_sales}')

#Manager want know what is the average weekly sales
average_weekly_sales=sum(walmart['weekly_sales'])/len(walmart['weekly_sales'])
print(f'average weekly sales by sum and len method = {average_weekly_sales}')

#Manager want know average weekly sales vs temperature

print(f'average weekly sales ={sum(walmart["weekly_sales"])/len(walmart["weekly_sales"])} vs temperature={sum(walmart["temperature"])/len(walmart["temperature"])}')

#

{'store': [1, 1, 1], 'date': ['05-02-2010', '12-02-2010', '19-02-2010'], 'weekly_sales': (1643690.9, 1641957.44, 1611968.17), 'holiday_flag': (0, 1, 0), 'temperature': [42.31, 38.51, 39.93], 'fuel_price': [2.572, 2.548, 2.514], 'cpi': [211.09, 211.24, 244.28], 'unemployment': [8.1, 8.1, 8.1]}
total weekly sales = 4897616.51
average weekly sales = 1632538.8366666667
minimum weekly sales = 1611968.17
maximum weekly sales = 1643690.9
average weekly sales by sum and len method = 1632538.8366666667
average weekly sales =1632538.8366666667 vs temperature=40.25

** In pandas, we have one "Data Frame"--

is a two dimensional DS,
Mutable,
allow the heterogeneous(different) data
Lable the data in columns and rows **

In [ ]:
import pandas as pd

walmart={

         "store":[1,1,1],
         "date":['05-02-2010','12-02-2010','19-02-2010'],
         "weekly_sales":(1643690.9,1641957.44,1611968.17),
         'holiday_flag':(0,1,0),
         'temperature':[42.31,38.51,39.93],
         'fuel_price':[2.572,2.548,2.514],
         'cpi':[211.09,211.24,244.28],
         'unemployment':[8.1,8.1,'four']

}

df=pd.DataFrame(walmart)
print(df)

   store        date  weekly_sales  holiday_flag  temperature  fuel_price  \
0      1  05-02-2010    1643690.90             0        42.31       2.572
1      1  12-02-2010    1641957.44             1        38.51       2.548
2      1  19-02-2010    1611968.17             0        39.93       2.514

      cpi unemployment
0  211.09          8.1
1  211.24          8.1
2  244.28         four

In [ ]:
#to print weekly_sales

print(df['weekly_sales'])

print('******************************')

#to print a row at index 0

print(df.loc[0])

print('******************************')

print("****************Basic operations on Data Frame************")

print(f'Shape  = {df.shape}')
print(f'info  = {df.info()}')
print(f'describe  = {df.describe()}')
print(f'head  = {df.head()}')
print(f'tail  = {df.tail()}')

0    1643690.90
1    1641957.44
2    1611968.17
Name: weekly_sales, dtype: float64
******************************
store                    1
date            05-02-2010
weekly_sales     1643690.9
holiday_flag             0
temperature          42.31
fuel_price           2.572
cpi                 211.09
unemployment           8.1
Name: 0, dtype: object
******************************
****************Basic operations on Data Frame************
Shape  = (3, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store         3 non-null      int64
 1   date          3 non-null      object
 2   weekly_sales  3 non-null      float64
 3   holiday_flag  3 non-null      int64
 4   temperature   3 non-null      float64
 5   fuel_price    3 non-null      float64
 6   cpi           3 non-null      float64
 7   unemployment  3 non-null      object
dtypes: float64(4), int64(2), object(2)
memory usage: 324.0+ bytes
info  = None
describe  =        store  weekly_sales  holiday_flag  temperature  fuel_price         cpi
count    3.0  3.000000e+00      3.000000     3.000000    3.000000    3.000000
mean     1.0  1.632539e+06      0.333333    40.250000    2.544667  222.203333
std      0.0  1.783579e+04      0.577350     1.920104    0.029143   19.119101
min      1.0  1.611968e+06      0.000000    38.510000    2.514000  211.090000
25%      1.0  1.626963e+06      0.000000    39.220000    2.531000  211.165000
50%      1.0  1.641957e+06      0.000000    39.930000    2.548000  211.240000
75%      1.0  1.642824e+06      0.500000    41.120000    2.560000  227.760000
max      1.0  1.643691e+06      1.000000    42.310000    2.572000  244.280000
head  =    store        date  weekly_sales  holiday_flag  temperature  fuel_price  \
0      1  05-02-2010    1643690.90             0        42.31       2.572
1      1  12-02-2010    1641957.44             1        38.51       2.548
2      1  19-02-2010    1611968.17             0        39.93       2.514

      cpi unemployment
0  211.09          8.1
1  211.24          8.1
2  244.28         four
tail  =    store        date  weekly_sales  holiday_flag  temperature  fuel_price  \
0      1  05-02-2010    1643690.90             0        42.31       2.572
1      1  12-02-2010    1641957.44             1        38.51       2.548
2      1  19-02-2010    1611968.17             0        39.93       2.514

      cpi unemployment
0  211.09          8.1
1  211.24          8.1
2  244.28         four

# **DAY-5:16-05-2025**

In [ ]:
#Want to read some data from outside like from computer,other web sites....

import pandas as pd

df = pd.read_parquet("hf://datasets/tonyassi/clothing-sales-data/data/train-00000-of-00001.parquet")

/usr/local/lib/python3.11/dist-packages/huggingface_hub/utils/_auth.py:94: UserWarning:
The secret `HF_TOKEN` does not exist in your Colab secrets.
To authenticate with the Hugging Face Hub, create a token in your settings tab (https://huggingface.co/settings/tokens), set it as secret in your Google Colab and restart your session.
You will be able to reuse this secret in all of your notebooks.
Please note that authentication is recommended but still optional to access public models or datasets.
  warnings.warn(

In [ ]:
#Loading from the computer

import pandas as pd

df=pd.read_csv('/content/Walmart_Sales.csv')

df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [ ]:
#Stock historical data

import yfinance as yf

df=yf.download('AMZN',start='2025-01-01',end='2025-05-15')

df.shape
df.info()
df.head()

[*********************100%***********************]  1 of 1 completed

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 91 entries, 2025-01-02 to 2025-05-14
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, AMZN)   91 non-null     float64
 1   (High, AMZN)    91 non-null     float64
 2   (Low, AMZN)     91 non-null     float64
 3   (Open, AMZN)    91 non-null     float64
 4   (Volume, AMZN)  91 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.3 KB

Price            Close        High         Low        Open    Volume
Ticker            AMZN        AMZN        AMZN        AMZN      AMZN
Date
2025-01-02  220.220001  225.149994  218.190002  222.029999  33956600
2025-01-03  224.190002  225.360001  221.619995  222.509995  27515600
2025-01-06  227.610001  228.839996  224.839996  226.779999  31849800
2025-01-07  222.110001  228.380005  221.460007  227.899994  28084200
2025-01-08  222.130005  223.520004  220.199997  223.190002  25033300

# DAY-6:17-05-2025

In [ ]:
# List of products
products = ["Laptop", "Smartphone", "Tablet", "Monitor", "Keyboard", "Mouse"]

# Simulated user ratings for two different versions of the product page
# Design A ratings (Group A sees new layout)
ratings_a = [4.5, 4.0, 4.3, 3.9, 4.2, 4.1]

# Design B ratings (Group B sees old layout)
ratings_b = [4.2, 3.8, 4.0, 3.5, 4.0, 3.9]

In [ ]:
#Step-1 A/B Testing splitting

# Group A: Every 2nd product starting from index 0
group_a_products = products[::2]
group_a_ratings = ratings_a[::2]
print("Group A Products:", group_a_products)
print("Group A Ratings:", group_a_ratings)

# Group B: Every 2nd product starting from index 1
group_b_products = products[1::2]
group_b_ratings = ratings_b[1::2]
print("Group B Products:", group_b_products)
print("Group B Ratings:", group_b_ratings)

Group A Products: ['Laptop', 'Tablet', 'Keyboard']
Group A Ratings: [4.5, 4.3, 4.2]
Group B Products: ['Smartphone', 'Monitor', 'Mouse']
Group B Ratings: [3.8, 3.5, 3.9]

In [ ]:
#Step-2 Calculate average rating

# Calculate averages
avg_rating_a = sum(group_a_ratings) / len(group_a_ratings)
avg_rating_b = sum(group_b_ratings) / len(group_b_ratings)

print("\nAverage Rating - Group A (New Design):", round(avg_rating_a, 2))
print("Average Rating - Group B (Old Design):", round(avg_rating_b, 2))

Average Rating - Group A (New Design): 4.33
Average Rating - Group B (Old Design): 3.73

In [ ]:
#interpret result

if avg_rating_a > avg_rating_b:
    print(" New design performs better. Consider rolling it out!")
elif avg_rating_a < avg_rating_b:
    print(" Old design performs better. Investigate why the new one didn't work.")
else:
    print(" Both designs perform equally. Consider other metrics like time-on-page or click-through.")

 New design performs better. Consider rolling it out!

## **DAY-7:19-05-2025**

In [ ]:
from math import dist

# Tuple format: (Blood Pressure, Heart Rate, Temperature)
known_patient_1 = (120, 80, 98.6)
known_patient_2 = (130, 85, 99.1)
new_patient      = (125, 82, 98.8)

# Compare new patient with known ones
distance1 = dist(new_patient, known_patient_1)
distance2 = dist(new_patient, known_patient_2)

# Decide closest match
if distance1 < distance2:
    print("New Patient is more similar to Known Patient 1")
else:
    print("New Patient is more similar to Known Patient 2")

New Patient is more similar to Known Patient 1

# **Various Basic Tuple Operations**

In [ ]:
# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)
print("Original Tuple:", my_tuple)

# Indexing
print("Element at index 0:", my_tuple[0])
print("Element at index -1 (last):", my_tuple[-1])

# Slicing
print("Sliced Tuple [1:4]:", my_tuple[1:4])

# Concatenation
tuple2 = (60, 70)
combined_tuple = my_tuple + tuple2
print("Concatenated Tuple:", combined_tuple)

# Repetition
repeated_tuple = my_tuple * 2
print("Repeated Tuple:", repeated_tuple)

# Membership Test
print("Is 30 in my_tuple?", 30 in my_tuple)
print("Is 100 in my_tuple?", 100 in my_tuple)

# Iterating through a tuple
print("Iterating through my_tuple:")
for item in my_tuple:
    print(item)

# Built-in functions
print("Length of tuple:", len(my_tuple))
print("Maximum element:", max(my_tuple))
print("Minimum element:", min(my_tuple))
print("Sum of elements:", sum(my_tuple))

Original Tuple: (10, 20, 30, 40, 50)
Element at index 0: 10
Element at index -1 (last): 50
Sliced Tuple [1:4]: (20, 30, 40)
Concatenated Tuple: (10, 20, 30, 40, 50, 60, 70)
Repeated Tuple: (10, 20, 30, 40, 50, 10, 20, 30, 40, 50)
Is 30 in my_tuple? True
Is 100 in my_tuple? False
Iterating through my_tuple:
10
20
30
40
50
Length of tuple: 5
Maximum element: 50
Minimum element: 10
Sum of elements: 150

In [ ]:
# Each ride is represented as a tuple:
# Format: (rider_id, driver_id, start_location, end_location, fare)

ride1 = ('R123', 'D456', 'Banjara Hills', 'Gachibowli', 240.50)
ride2 = ('R124', 'D457', 'Madhapur', 'Kukatpally', 180.75)
ride3 = ('R125', 'D456', 'Ameerpet', 'HiTech City', 310.00)


# Store all rides in a list of tuples
all_rides = [ride1, ride2, ride3]

# 1. Print details of each ride
for ride in all_rides:
    print("Rider", ride[0], "took a ride from", ride[2], "to", ride[3], "and paid ", ride[4])

# 2. Calculate total earnings of driver D456
total_earnings = 0
for ride in all_rides:
    if ride[1] == 'D456':
        total_earnings = total_earnings+ride[4]

print("\nTotal earnings of driver D456: ", total_earnings)

Rider R123 took a ride from Banjara Hills to Gachibowli and paid  240.5
Rider R124 took a ride from Madhapur to Kukatpally and paid  180.75
Rider R125 took a ride from Ameerpet to HiTech City and paid  310.0

Total earnings of driver D456:  550.5

# **Attempting to modify a tuple (will cause an error) and #Unpacking a tuple**

In [ ]:
# Defining a tuple for a product
product = ("Laptop", 1200, "Electronics")

# Accessing tuple elements
print("Product Name:", product[0])
print("Price:", product[1])
print("Category:", product[2])

# Attempting to modify a tuple (will cause an error)
try:
    product[1] = 1300  # Tuples are immutable
except TypeError as e:
    print("Error:", e)

# Unpacking a tuple
name, price, category = product
print(name,price,category)

Product Name: Laptop
Price: 1200
Category: Electronics
Error: 'tuple' object does not support item assignment
Laptop 1200 Electronics

# **Day:8: 20-05-2025**

**Real time Problem Statement**

**City Weather Tracker**

Scenario: Store and retrieve weather info for multiple cities.
Task:

Dictionary: {city: {'temperature': x, 'humidity': y}}

Find the city with the highest humidity.

Display temperature trends city-wise.

Reference Website : https://mausam.imd.gov.in/

In [1]:
# City Weather Tracker
# Dictionary to store weather data: {city: {'temperature': x, 'humidity': y}}

weather_data = {
    "Delhi": {"temperature": 32, "humidity": 65},
    "Mumbai": {"temperature": 29, "humidity": 80},
    "Kolkata": {"temperature": 31, "humidity": 75},
    "Chennai": {"temperature": 33, "humidity": 70},
    "Bengaluru": {"temperature": 28, "humidity": 60}
}
# Find city with highest humidity

max_humidity_city = "Delhi"                      # Default to first city
max_humidity = weather_data["Delhi"]["humidity"]

for city, info in weather_data.items():
    if info["humidity"] > max_humidity:
        max_humidity = info["humidity"]
        max_humidity_city = city

print(f"City with highest humidity: {max_humidity_city} ({max_humidity}%)")

# Display temperature trends

print("\nTemperature Trends (City-wise):")
print("-" * 30)
print(f"{'City':<15} {'Temperature (C)':<15}")
print("-" * 30)
for city, info in sorted(weather_data.items()):
    print(f"{city:<15} {info['temperature']:<15}")

City with highest humidity: Mumbai (80%)

Temperature Trends (City-wise):
------------------------------
City            Temperature (C)
------------------------------
Bengaluru       28
Chennai         33
Delhi           32
Kolkata         31
Mumbai          29